@use 'variables';

.movie-details{
    display: grid;
    grid-template-columns: 27% 73%;
    height: 450px;
    img{
        display: block;
    }
    .details-wrapper{
        display: grid;
        grid-template-columns: 15% 85%;
        margin-top: 10px;
        span{
            margin: 10px 0;
            display: inline-block;
            color: variables.$orange;
        }
        h4{
            margin: 10px 0;
            color: variables.$line-color;
        }
    }
    .details{
        position: relative;
        margin-left: 5%;
        .details-title{
            font-size: 28px;
            padding: 15px 0;
        }
        .details-genre{
            margin-bottom: 20px;
            p{
                display: inline-block;
                padding: 4px 14px;
                margin-right: 10px;
                font-size: 14px;
                border: variables.$ocean-blue solid 1px;
                border-radius: 20px;
            }
        }
        .details-brif{
            color: variables.$line-color;
            min-height: 70px;
            text-align: justify;
        }
        .details-line{
            display: block;
            border-top: solid 1px variables.$line-color;
        }
        .details-bottom-line{
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }
}

.watch-online{
    clear: both;
    text-decoration: none;
    display: block;
    width: 27%;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    cursor: pointer;
    background-color: variables.$orange;
    &:hover h3{
        color: variables.$navy-blue;
    }
}

.trailer{
    width: 100%;
    height: 670px;
    margin-top: 50px;
    iframe{
        width: 100%;
        height: 100%;
    }
}